@use "../../utilities/variables.scss" as v;

._table {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: left;
  min-width: 80vw;
  max-width: 100vw;
  background: v.$primary-color;
  font-family: Arial, Helvetica, sans-serif;
}

.table_title {
  color: white;
  padding: 0.8rem 0.625rem;
  border-bottom: 1px solid rgb(167, 159, 159);
  font-size: 0.95rem;
  text-align: center;
  &__nome {
    @extend .table_title;
    text-align: start;
  }
}

.rounded {
  border: 5px solid #a9fcae;
  border-radius: 50%;
  background-color: #a9fcae;
  width: min-content;
  margin: auto;
  text-align: center;
  &__blue {
    @extend .rounded;
    border: 5px solid #a5c8ff;
    background-color: #a5c8ff;
  }
  &__red {
    @extend .rounded;
    border: 5px solid #ffa5a5;
    background-color: #ffa5a5;
  }
}

.header__table {
  overflow: auto;
}
.title__table {
  position: relative;
  top: 3rem;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
  max-width: 60%;
}
