.alert {
  border-radius: 10%;
  width: min-content;
  margin: auto auto auto 0.5rem;
  text-align: center;
  padding: 5px 8px;
  background-color: #e68989d5;
  text-transform: uppercase;
  font-size: 0.5em;
  font-weight:bold;
}

.attention{
  display: flex;
}

