@use "../../utilities/variables.scss" as v;

.card {
  margin: 15vh auto;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: min-content;
  border-radius: 0.5rem;
  border: #5858582f solid 1px;
  background-color: #ffffff;
}

.header {
  padding: 2.5rem 2.5rem 1rem 2.5rem;
}

.content {
  padding: 0rem 1rem 1rem 1rem;
  margin: 0 auto;
  width: max-content;
  &__table {
    @extend .content;
    display: inline-block;
  }
}

.title {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
}
