@use "../../utilities/variables.scss" as v;

.form-login {
  width: 20%;
}

.link-register {
  display: block;
  text-decoration: none;
  color: v.$secondary-color;
  font-size: 0.7rem;
  text-align: center;
  padding: 1.3rem;
}